@import "tailwindcss" source(none);
@source "./ui/*.templ";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: light, cupcake, dim;
    exclude: rootscrollgutter;
}

.text-scale {
    @apply text-3xl lg:text-base;
}

.btn-scale {
    @apply btn-xl lg:btn-lg;
}

.btn-icon-scale {
    @apply btn-xl lg:btn-md;
}

.gong-outlet {
    @apply w-full h-full;
}

.code-container {
    position: relative;
}

.copy-button {
    @apply absolute top-2 right-2 btn btn-lg lg:btn-xs btn-soft text-base-content/50 font-medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply flex flex-row place-items-center;
}

.header-link {
    @apply btn btn-lg lg:btn-sm btn-soft btn-square text-base-content/50 text-4xl lg:text-xl font-bold mr-4;
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

body {
    height: 100%;
}
