@import "tailwindcss" source(none);
@source "./ui/*.templ";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

pre {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:hover {
    background: #666;
}
