package ui

import (
	"context"
	"github.com/troygilman0/gong"
	"io"
	"strings"
)

type DocsView struct {
	DocManager DocumentManager
}

templ (view DocsView) View() {
	{{
	path := strings.TrimPrefix(gong.GetRequest(ctx).URL.Path, "/")
	document := view.DocManager.documents[path]
	}}
	<div class="flex flex-row">
		<div class="prose p-4">
			@templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
				_, err := io.WriteString(w, document.html)
				return err
			})
		</div>
	</div>
}
